bcrypt
blinker
click
colorama
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn>=23.0.0
idna
itsdangerous
Jinja2
MarkupSafe
packaging
psycopg
SQLAlchemy
typing_extensions
Werkzeug
WTForms
